@{
	ViewBag.Title = "Accounts";
}

<h2>Accounts:</h2>
<div id="accountsList">
</div>
<input id="nextButton" type="submit" value="Next"/>

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/nextAccounts.js"></script>